:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.articles_preview_card {
  background-color: darkred;
  margin: 5%;
  border: 5px solid yellow;
}

.homepage_container {
  background-color: darkred;
  border: 5px solid yellow;
  width: 100%;
  max-width: 800px;
  height: 1000%;
  max-height: 800px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_card_image {
  max-width: 90%;
}
.article_preview_card {
  max-width: 90%;
}

.main_article_card {
  background-color: darkred;

  border: 5px solid yellow;
}
.comment_card {
  border: 10px solid grey;
}

.button_container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.comments_button,
.upvotes_button {
  width: 250px;
  height: 40px;
}

.upvotes_button {
  background-color: darkgreen;
  border-radius: 10px;
}

.comments_button {
  background-color: darkgoldenrod;
  color: black;
  border-radius: 10px;
}

.delete_button {
  border: 1px solid transparent;
  padding: 6%;
  padding-left: 70%;
  color: red;
  font-size: medium;
}

.add_comment_text_field {
  padding: 1%;
  border: white;
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
  margin-right: 5%;
  margin-bottom: 5%;
  border-radius: 20%;
}

.submit_button {
  border: 1px solid green;
  border-radius: 20%;
  color: green;
  font-size: medium;
}
