:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.articles_preview_card {
  background-color: darkred;
  margin: 5%;
  border: 5px solid yellow;
}

.main_card_image {

  max-width: 90%;;
}
.article_preview_card {

  max-width: 90%;;
}

.main_article_card {
  background-color: darkred;

  border: 5px solid yellow;
}